In [25]:
import requests
import pandas as pd

### Pull data from API

In [57]:
response = requests.get("https://api.coindesk.com/v1/bpi/currentprice.json")
data = response.json()
bpi_data = data['bpi']

In [58]:
df = pd.DataFrame.from_dict(bpi_data,orient='index')
df

    code   symbol         rate             description  rate_float
USD  USD    &#36;  26,425.3219    United States Dollar  26425.3219
GBP  GBP  &pound;  22,080.7875  British Pound Sterling  22080.7875
EUR  EUR   &euro;  25,742.1216                    Euro  25742.1216

### Print Descriptive statistics

In [59]:
df.describe()
# df.shape

         rate_float
count      3.000000
mean   24749.410333
std     2336.204514
min    22080.787500
25%    23911.454550
50%    25742.121600
75%    26083.721750
max    26425.321900

In [60]:
df.dtypes

code            object
symbol          object
rate            object
description     object
rate_float     float64
dtype: object

In [65]:
df.agg({'rate_float':'mean'})

rate_float    24749.410333
dtype: float64

### Query in Pandas (mask and .query())

In [67]:
mask = df['rate_float'] > 23000
filter_df = df.loc[mask]
print(filter_df)

    code  symbol        rate           description  rate_float
USD  USD   &#36;  26425.3219  United States Dollar  26425.3219
EUR  EUR  &euro;  25742.1216                  Euro  25742.1216

In [71]:
df.query("code == 'USD'")

    code symbol        rate           description  rate_float
USD  USD  &#36;  26425.3219  United States Dollar  26425.3219

### Select and print SECOND AND THIRD columns of dataframe

In [74]:
print(df.iloc[:,[1,2]])

      symbol        rate
USD    &#36;  26425.3219
GBP  &pound;  22080.7875
EUR   &euro;  25742.1216

### Select and print FIRST 4 ROWS of dataframe 
My dataframe only has THREE rows, so I returned the FIRST 2 rows.

In [76]:
# dataframe only has three rows
print(df.iloc[:2,:])

    code   symbol        rate             description  rate_float
USD  USD    &#36;  26425.3219    United States Dollar  26425.3219
GBP  GBP  &pound;  22080.7875  British Pound Sterling  22080.7875